<h1>FOLLOWING</h1>
<div>I am subscribing to their Tweets as a follower. </div>
<div>フォローしているユーザー一覧 </div>
<ul>
<% @users.each do |user| %>
<li><div>

  <div><%= gravatar_for user,:size => 50 %></div>
  <div><%= user.name %></div>
  <div><%= user.area%></div>
  <div><%= user.profile %></div>
</div></li>
<%end %>
</ul>
